/* estilos de view inversiones_compra_venta */

.label_inversion{
    font-size:16px;
    text-align: left;
}
.p_inversion{
    font-size: 28px;
}

#card_inversion{
height: 480px;
width: 400px;
background-color: rgba(240, 236, 236, 0.5);
padding: 20px;
border-style: solid;
border-width: 5px;
-webkit-border-radius: 10px 10px 10px 10px;
border-radius: 10px 10px 10px 10px;
border-color: rgb(253, 220, 129);
 font-size: 16px;
}

.mensaje{
     font-size: 14px;
     font-style: italic;
     
}

/* estilos de los view login, registracion */

.app{
background: url(../img/login13.jpg);
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}

#login_card{
height: 370px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.7) !important;
color: #FFC312;
padding: 20px;
}

.login_btn{
color: black;
background-color: #FFC312;
width: 100px;

}

.login_btn:hover{
color: black;
background-color: rgb(253, 220, 129);
}

#msgErrorMail{
font-size: 15px;
}


/* estilos de layouts.plantilla, y los view principal, movimientos, pagos, inversiones */

.home {
    padding-top: 10px;
    text-align: center;
    margin: 5px;
     border-style: solid;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    border-color: rgb(253, 220, 129); 
    height: 385px;
}


p {
        font-size: 22px;
    }

#contenedor_texto {
        color: rgb(253, 220, 129);
        font-weight: 600;
        text-shadow:2px 2px 2px rgb(3, 3, 3, 0.4); 
    }

.font_home {
        font-size: 13px;
    }

 @media only screen and (min-width: 960px) and (max-width: 1089px) { 
        #p_contenedor {
        font-size: 20px;
    }
} 

@media only screen and (min-width: 767px) and (max-width: 958px) {
     h1 {
            font-size: 28px;
        }
        
     #p_contenedor {
            display: none;
        }
     .home {
            height: 385px;
            }
}

@media only screen and (min-width: 200px) and (max-width: 766px) {
      h1 {
            font-size: 28px;
        }
        
     #p_contenedor {
            display: none;
        }

     .home {
        height: 365px;
        width: 400px;
        }
}
